{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ api_url }}" method="post">
        <div>
            <label for="">Message</label>
            <input type="text" name="message">
            <button type="submit">Envoyer</button>
        </div>
    </form>
{% endblock %}
